name: typos
on: [pull_request]

permissions:
  contents: read

jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: Checkout Actions Repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Check spelling of file.txt
      uses: crate-ci/typos@78bc6fb2c0d734235d57a2d6b9de923cc325ebdd # master
      with:
        config: _typos.toml
